@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  border: 0;
  font-family: inherit;
}

video {
  -webkit-box-shadow: transparent;
          box-shadow: transparent;
}

body {
  font-family: 'Caveat', cursive;
  font-weight: 400;
}

.disabled {
  display: none;
}

.drag-over {
  border: 3px solid orangered !important;
}

.container {
  padding: 50px 0;
  background: radial-gradient(at top left, rgba(255, 165, 0, 0.8), rgba(255, 165, 0, 0.1));
  background-repeat: no-repeat;
  background-position: 0, 0;
}

.video-container {
  max-width: 900px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px;
  position: relative;
}

.video-container video {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 576px) {
  .video-container video {
    border-radius: 12px;
  }
}

.video-container:hover > .controls {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.video-container .controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 20px;
}

.video-container .controls svg {
  width: 20px;
  height: auto;
  fill: orange;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.video-container .controls svg:hover {
  fill: orangered;
}

@media screen and (min-width: 500px) {
  .video-container .controls svg {
    width: 28px;
  }
}

.video-container .controls button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video-container .controls .progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-container .controls .progress progress {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 10px;
  border-radius: 8px;
  cursor: pointer;
  color: orange;
}

.video-container .controls .progress progress::-webkit-progress-value {
  background-color: orange;
}

.video-container .controls .progress progress::-moz-progress-bar {
  background-color: orange;
}

.video-container .controls .center {
  position: absolute;
  top: calc(50% - 30px);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.video-container .controls .center .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.video-container .controls .center .actions svg {
  width: 35px;
  margin-right: 25px;
}

.video-container .controls .center .actions button:nth-child(2) svg {
  width: 50px;
}

.video-container .controls .center .actions button:nth-child(3) svg {
  margin-right: 0;
}

.video-container .controls .center .time {
  font-size: 24px;
  color: orange;
  text-align: center;
  opacity: 0;
}

.video-container .controls .bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: absolute;
  bottom: 0px;
  left: 0;
  padding: 15px 0;
}

.video-container .controls .volume-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-container .controls .volume-wrapper button {
  margin-right: 10px;
}

.video-container .controls .volume-wrapper button:last-child {
  margin-right: 0;
}

.video-container .controls .playback-rate-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.video-container .controls .playback-rate-wrapper label {
  display: none;
  margin-right: 10px;
}

@media screen and (min-width: 500px) {
  .video-container .controls .playback-rate-wrapper label {
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
}

.video-container .controls .playback-rate-wrapper label svg:hover {
  fill: orangered;
}

.video-container .controls .playback-rate-wrapper select {
  background-color: orange;
  border: 2px solid transparent;
  outline: none;
  border-radius: 4px;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media screen and (min-width: 500px) {
  .video-container .controls .playback-rate-wrapper select {
    padding: 5px;
  }
}

.video-container .controls .playback-rate-wrapper select:hover {
  border: 2px solid orangered;
}

.video-container.fullscreen-mode .controls {
  height: 100%;
}

.video-container.fullscreen-mode:hover > .controls {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.video-container.fullscreen-mode svg {
  width: 45px;
  margin-right: 45px;
}

.video-container.fullscreen-mode .center .actions svg {
  width: 45px;
  margin-right: 45px;
}

.video-container.fullscreen-mode .center .actions button:nth-child(2) svg {
  width: 60px;
}

.video-container.fullscreen-mode .center .actions button:nth-child(3) svg {
  margin-right: 0;
}

.video-container.fullscreen-mode .bottom {
  padding-bottom: 30px;
}

.video-container.fullscreen-mode .bottom label svg {
  margin-right: 10px;
}

.movies {
  max-width: 700px;
  width: 85%;
  margin: 0 auto;
}

.movies h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 1px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.movies p {
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.movies__group {
  margin-bottom: 30px;
  cursor: move;
  border: 3px solid transparent;
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.movies__group h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 10px;
}

.movies__list {
  list-style-type: none;
  border-radius: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(180px, max-content))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(180px, -webkit-max-content));
      grid-template-columns: repeat(auto-fit, minmax(180px, max-content));
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 10px;
}

.movies__list.first {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 165, 0, 0.8)), to(rgba(255, 165, 0, 0.1))), url("../assets/img/beach.jpg");
  background: linear-gradient(rgba(255, 165, 0, 0.8), rgba(255, 165, 0, 0.1)), url("../assets/img/beach.jpg");
}

.movies__list.second {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 165, 0, 0.8)), to(rgba(255, 165, 0, 0.1))), url("../assets/img/forest.jpg");
  background: linear-gradient(rgba(255, 165, 0, 0.8), rgba(255, 165, 0, 0.1)), url("../assets/img/forest.jpg");
}

.movies__list.third {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 165, 0, 0.8)), to(rgba(255, 165, 0, 0.1))), url("../assets/img/waterfall.jpg");
  background: linear-gradient(rgba(255, 165, 0, 0.8), rgba(255, 165, 0, 0.1)), url("../assets/img/waterfall.jpg");
}

.movies__item {
  border: 3px solid transparent;
  border-radius: 8px;
  background-color: #ccc;
  padding: 10px 40px;
  cursor: move;
}

.movies__item .btn {
  font-size: 24px;
  display: block;
  background-color: inherit;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
/*# sourceMappingURL=main.css.map */